# Pastikan line endings konsisten
* text=auto eol=lf

# Paksa GitHub mendeteksi .blade.php sebagai Blade (atau PHP)
*.blade.php linguist-language=Blade

# Anggap file HTML, CSS, dan JS yang ada di project sebagai "vendored" 
# (artinya: kode pendukung, jangan dihitung ke statistik utama)
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.scss linguist-vendored

# Abaikan file dokumentasi dan konfigurasi dari statistik
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
README.md linguist-documentation